A few comments / points for improvement?

Hi,

a few points with suggestions for clarification / improvements:

1) About transitive BGP communities.  Could the suggestion be made more concrete instead of (formally correct) just referring to the defining documents?

2) If I read RFC 4360 and RFC 8097 correctly, the BGP extended communities defined in 8097 to reflect validation state are all non-transitive.  So if the recommendation is only for transitive BGP communities, is the definition of the scope in section 2 correct?

3) Should the recommendation "do not mark your imported eBGP routes with transitive BGP communities reflecting validation state" instead be "do not mark your imported eBGP routes with BGP communities reflecting validation state"?


Expanding a bit:

Ref. no. 1: You may be shocked to know that operators may not have internalized the knowledge about what distinguishes a transitive and a non-transitive BGP community, and how to configure a given community to be of a specific type.  Should something be done to make this clearer?  Especially if the recommended practice is restricted to transitive BGP communities.  But see no. 3...

Ref. no. 2: As I read it, all the three extended communities defined in RFC 8097 to mark RPKI validation state are all non-transitive since the `type` field falls in the `0x4000-0x7fff` range (`0x4300`).  But you seem to be saying that even these communities should not be used, despite them being non-transitive, ref. section 2, "Scope"?  It looks somewhat inconsistent with all the other recommendations which only talk about transitive BGP communities...  But see no. 3.

Ref. no 3: If an ISP marks routes with BGP communities from RFC 8097, and the validation state changes, that will cause the route to be re-advertised to all the iBGP neighbors.  A question is whether this is sufficiently problematic to "un-recommend" to do that?


The draft is apparently written with a un-stated assumption that "all ISPs run with a full copy of the Internet routing table".  That is however not necessarily universally true for ISPs closer to the edge of the network.  For those not having the full routing table slogging around on their internal routers, the scale of the disturbances caused by a drastic change in RPKI validation state and hence BGP community tagging which this draft points to as a problem will obviously be reduced.  And ... in terms of "work performed" by each router, is it truly better to have all your routers talk RTR with your validators instead of using iBGP to transfer the validation state to those routers which are not border routers of your AS?  But, yes, the claim that "invalid" routes should be discarded anyway only leaves the distinction between "valid" and "unknown", and it's not a given how useful that information actually is to your non-border routers.

The draft says

```
   Specifically, Operators are SHOULD NOT group BGP
   routes by their Prefix Origin Validation state [RFC6811] into
   distinct BGP Communities [RFC1997] [RFC8092].
```

Beside the extraneous "are" in the above, I'm a little puzzled by the choice of the word "group".  If the action we are talking about is "to add a BGP community to a route", I would perhaps instead have used the word "tag"?  "Group" sounds as if the operator somehow does "something" to have the affected routes "lined up" internally in the BGP implementation, and I'm not aware of how you can do something like that.

On my first relatively rapid read-through of the draft, I get the sense that it a number of times says "do not do this".  However, it is perhaps a little too brief on "please consider doing *this* instead".

The problem is that even non-transitive attributes can cause churn, it depends on the BGP implementation whether they end up sending a (superfluous) BGP UPDATE or not. Not all BGP implementations have a proper `Adj-RIB-Out` and without that feature a BGP implementation might have forgotten that they had already announced the route previously when a modification happens to a non-transitive BGP community.

Aside from what's potentially externally visible - it could well be that the crashing of RPKI validators combined with "only internally visible" BGP community tagging still leads to such internal churn that the network becomes sloggish in converging. 

My take is that as a general practise, routing policies shouldn't set/modify/delete communities based on validation state. Even when its originally designed to be "internal only" there is a chance that down the road years later the policy is slightly altered and a mistake happens and these attributes leak out as transitive